<% @announcements.each do |announcement| %>
  <table class="table table-bordered">
    <tbody>
      <tr>
      <td>
        <!-- <div class="container"> -->
          <div class="row">
            <div class="col-sm-2">
              <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250×100-1&w=250&h=100" alt="Imagem do anúncio" width="80" height="60">
            </div>
            <div class="col-sm-2">
              <h4><%= announcement.title %></h4>
            </div>
            <div class="col-sm-4">
              <h5 class="text-left"><%= announcement.description %></h5>
            </div>
            <div class="col-sm-2">
              <h4><%= "R$"+ announcement.price.to_s %></h4>
              <h4><%= announcement.created_at.strftime("%d/%m/%Y") %> </h4>
            </div>
            <div class="col-sm-1">
              <a href="#" class="btn btn-primary">Visualizar</a>
            </div>
          </div>          
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
