<% content_for :head do %>
  <%= javascript_include_tag('shared/category_select.js') %>
<% end %>

<div class="container">
  <div class="col-md-6  col-centered col-md-push-2">

    <div class="form-group">
        <label style="font-size:20px;" class="label label-primary center-block">
          Novo anúncio
        </label>
    </div>

    <%= render 'form', announcement: @announcement %>
  </div>
</div>
