<% content_for :head do %>
  <%= javascript_include_tag('announcement/announcement.js') %>
<% end %>

<div class="well well-sm col-md-6 col-centered">
  <h2 class="text-center">Novo anúncio</h2>
</div>

<%= render 'form', announcement: @announcement %>
