<% content_for :head do %>
  <%= javascript_include_tag('shared/category_select.js') %>
<% end %>

<div class="row">

  <%= render partial: '/layouts/filter' %>

  <%= render partial: "home/filtered_announcement" %>

  <%= render partial: "layouts/google_ads" %>

</div>
