<h2>
  <span class="label label-primary">Pesquisa</span>
</h2>
<%= form_tag announcements_path, method: :get, class: "container-fluid", responsive: true do %>
  <div class="form-group">
    <%= text_field_tag :search_name, @search_name, placeholder: 'Digite aqui sua pesquisa', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= select_tag "category", options_from_collection_for_select(@categories, "id", "category_name"), class: "form-control"%>
  </div>

  <div class="form-group">
    <select id="sub_category_id" name="announcement[sub_category_id]" class="form-control">
    </select>
  </div>
<div class="form-group">
<%= button_to "Buscar", nil, class: "btn btn-default" %>
</div>
<% end %>
