<p id="notice"><%= notice %></p>

<h1>Minha conta</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.user_name %></td>
        <td><%= link_to 'Edit', edit_account_path(@user) %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
